.cards{
  display: flex;
  justify-content: space-around;
}
.card1 {
  width: 490px;
  height: 254px;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all .3s;
 }
 
 .card12 {
  width: 350px;
  height: 154px;
  background-color: #1a1a1a;
  border-radius:10;
  transition: all .2s;
 }
 
 .card12:hover {
  transform: scale(0.98);
  border-radius: 20px;
 }
 
 .card1:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
 }
 @media (max-width: 768px) {
  .cards {
    flex-direction: column;
    justify-content: center;
    width: auto;
    flex-wrap: wrap;
  }
  
}