/* Sidebar.css */
#sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  padding-top: 20px;
  transition: all 0.3s;
}

@media (max-width: 768px) {
  #sidebar {
      width: 200px;
  }
}

@media (max-width: 576px) {
  #sidebar {
      width: 150px;
  }
}

#sidebar .sidebar-header {
  padding: 20px;
  background-color: #444;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul.components li a {
  padding: 10px 15px;
  display: block;
  color: white;
}

#sidebar ul.components li a:hover {
  background-color: #555;
}
